.Board {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
    /* justify-content: space-around; */
    /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;  */
}

.buttonNotes {
    float: left;
    /* width: 50px; */
    color: white;
    margin: 10px 0 0 50px;
}

#inspo {
    margin: 30px 50px 0 50px;
}