.Info-div {
    background: lightcyan;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.Quote {
    text-align: left;
    margin: 0 auto;
    padding: 0 50px 10px 50px;
}

p {
    margin: 0;
    padding: 10px;
}